.container {
  width: 100%;
  background: linear-gradient(
    to right,
    pink 0%,
    pink 50%,
    paleturquoise 50%,
    paleturquoise 100%
  );
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 350px;
}

.review {
  margin-top: 50px;
  padding: 15%;
}

.rating {
  color: #ffd700;
  font-size: 24px;
}

.quote {
  font-style: italic;
  font-size: 20px;
}

.name {
  font-size: 25px;
}

.ribbon {
  width: 100%;
  background: #d1d1f6;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
}
