
.logo {
  width: 20%;
}

.nav {
  width: auto;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  background: #f2eee4;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navitems {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

.navitem {
  padding: 30px 15px;
  font-size: 17px;
  font-weight: 500;
  outline: none;
}

.nav a {
  text-decoration: none;
  color: #f75456;
  font-size: 20px;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #f73a3a;
}
