.container {
  width: 100%;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.newsletter {
  width: 600px;
  height: 310px;
  background: #ffd5c0;
  color: rgb(0, 0, 0);
  border: 8px solid #fff5c0;
  border-radius: 20px;
}

.input {
  width: 300px;
  height: 30px;
  background: #f2eee49d;
  border-radius: 20px;
  border: 5px solid #f76f7196;
  margin: 10px;
  color: rgb(0, 0, 0);
}

.btn {
  font-size: 15px;
  font-weight: 700;
  transition: 0.4s ease-in;
  background-color: #f2eee4;
  border: 8px solid #f2eee4;
  border-radius: 25px;
  color: #f76f72;
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  color: #f76f72;
}

.paragraph {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 50px;
  margin-right: 50px;
}

.extra {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #ff0000;
  margin-left: 50px;
  margin-right: 50px;
}

.ribbon {
  width: 100%;
  background: #ffffff;
  color: rgb(0, 0, 0);
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  display: flex;
  justify-content: center;
}

.ribbontext {
  padding-right: 5%;
}

.ribbontext a {
  color: black;
}